/* Font Styles */

.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

/* universal style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Section */
.navbar {
    display: flex;
    justify-content: space-between;
}
.logo {
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    margin: 48px 150px;
}
.signin-btn{
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 106, 80);
    padding: 15px 30px;
    background-color: white;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    margin: 48px 150px;
}

/* Banner Section*/
.banner-container {
    display: flex;
    width: 85%;
    margin-left: 140px;
    padding: 60px 100px;
    background: #c6e4d6;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
}

.banner-subtitle {
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
    font-weight: 500;
}

.banner-title {
    font-size: 56px;
    font-weight: 700;
    color: rgb(14, 14, 14);
    margin: 16px 0;
}

.explore-btn {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    padding: 17px 34px;
    background-color: rgb(0, 106, 80);
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 24px;
}

.banner-container a {
    text-decoration: none;
}

.banner-image-wrapper {
    text-align: right;
}

.banner-img {
    width: 85%;
    height: auto;
}

main {
    width: 85%;
    background-color: rgb(243, 243, 243);
    margin: 0 auto;
    text-align: center;
}


/* Pillars of "Bangladesh 2.0" */
.h-title{
    margin-top: 80px;
    margin-bottom: 32px;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
}
.box-container{
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-direction: row;
}
.pillar-box{
    align-items: flex-start;
    text-align: left;
    width: 378px;
    height: 250px;
    padding: 25px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.pillar-box img{
    width: 50px;
    margin-bottom: 10px;
}
.pillar-box h4{
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}
.pillar-box p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 18px;
    color: rgba(14, 14, 14, 0.7);
}

/* The Vision of Future */
.h-subtitle{
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: rgba(14, 14, 14, 0.7);
}
.box-contain {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 16px;
    flex-direction: row;
}
.box {
    text-align: left;
    width: 505px;
    border-radius: 16px;
    padding: 40px;
}
.box1 {
    background-color: rgba(84, 144, 245, 0.2);
}
.box2 {
    background-color: rgb(198, 228, 214);
}
.box3 {
    background-color: rgb(247, 235, 207);
}
.box img {
    width: 50px;
    margin-bottom: 15px;
}
.box h3 {
    font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 15px;
}
.box p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 10px;
}
.btn{
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin: 24px 0px;
    padding: 12px 20px 12px 20px;   
    border-radius: 8px;
    border: none;
    color: rgb(255, 255, 255);
    background: rgb(84, 144, 245);
}

/* The Yousuf Sorkar */
.quote{
    height: 180px;
    margin-top: 32px;
    text-align: left;
    background-image: url(../assets/quote-bg.png);
    background-position: 12px 3px;
    background-repeat: no-repeat;
    padding: 30px 12px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}
.quote p{
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 12px;
}
.quote h4{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 12px;
}
.yousufsorkar{
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}