/* Font Styles */
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

/* universal style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Section */
.navbar {
    display: flex;
    justify-content: space-between;
}
.logo {
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    margin: 48px 150px;
}
.signin-btn{
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 106, 80);
    padding: 15px 30px;
    background-color: white;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    margin: 48px 150px;
}

/* Banner Section*/
.banner-container {
    display: flex;
    width: 85%;
    margin-left: 140px;
    padding: 60px 100px;
    background: #c6e4d6;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
}
.banner-subtitle {
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
    font-weight: 500;
}
.banner-title {
    font-size: 56px;
    font-weight: 700;
    color: rgb(14, 14, 14);
    margin: 16px 0;
}
.explore-btn {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    padding: 17px 34px;
    background-color: rgb(0, 106, 80);
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 24px;
}
.banner-container a {
    text-decoration: none;
}
.banner-image-wrapper {
    text-align: right;
}
.banner-img {
    width: 85%;
    height: auto;
}

/* Main Section*/
main {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}


/* Pillars of "Bangladesh 2.0" */
.h-title{
    margin-top: 80px;
    margin-bottom: 32px;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
}
.box-container{
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-direction: row;
}
.pillar-box{
    align-items: flex-start;
    text-align: left;
    width: 378px;
    height: 250px;
    padding: 25px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.pillar-box img{
    width: 50px;
    margin-bottom: 10px;
}
.pillar-box h4{
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}
.pillar-box p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 18px;
    color: rgba(14, 14, 14, 0.7);
}

/* The Vision of Future */
.h-subtitle{
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: rgba(14, 14, 14, 0.7);
}
.box-contain {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 16px;
    flex-direction: row;
}
.box {
    text-align: left;
    width: 505px;
    border-radius: 16px;
    padding: 40px;
}
.box1 {
    background-color: rgba(84, 144, 245, 0.2);
}
.box2 {
    background-color: rgb(198, 228, 214);
}
.box3 {
    background-color: rgb(247, 235, 207);
}
.box img {
    width: 50px;
    margin-bottom: 15px;
}
.box h3 {
    font-size: 20px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 15px;
}
.box p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 10px;
}
.btn{
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin: 24px 0px;
    padding: 12px 20px 12px 20px;   
    border-radius: 8px;
    border: none;
    color: rgb(255, 255, 255);
}
.btn1 {
    background-color: rgb(84, 144, 245);
}
.btn2{
    background-color: rgb(9, 161, 92);
}
.btn3{
    background-color: rgb(255, 194, 57);
}


/* The Yousuf Sorkar */
.quote{
    height: 180px;
    margin-top: 32px;
    text-align: left;
    background-image: url(../assets/quote-bg.png);
    background-position: 12px 3px;
    background-repeat: no-repeat;
    padding: 30px 12px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}
.quote p{
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 12px;
}
.quote h4{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 12px;
}
.yousufsorkar{
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

/* Your Opinion Matters */
.table-container {
    width: auto;
    height: fit-content;
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 32px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    padding: 24px;
}
th {
    background-color: rgb(198, 228, 214);
    padding: 10px;
    border: none;
    /* text-align: start; */
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    padding: 24px;
}
td{
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    padding: 24px;
    line-height: 19px;
}
select {
    padding: 24px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgba(9, 161, 92, 0.15);
} 

/* Recent News */
.news-subtitle{
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
.news-container{
    display: flex;
    justify-content: left;
    margin: 0 auto;
    text-align: left;
    width: 100%;
    padding: 48px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    margin-bottom: 24px;
}
.satelite{
    height: 310px;
    
    border-radius: 24px;
}
.news-content{
    margin-left: 24px;
}
.news-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
}
.al-jazeera{
    margin-top: 15px;
    width: 134px;
    height: 40px;
}
.news-paragraph{
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    text-align: left;
}
.btn4 {
    background-color: rgb(0, 106, 80);
}
.news-container-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    padding: 48px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    margin-bottom: 24px;
}
.satelite-one {
    align-items: flex-start;
    height: 310px;
    border-radius: 24px;
    margin-right: 40px;
}

/* Donate Today */
.donate-title{
    margin-top: 80px;
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.donate-subtitle{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
.donate-container{
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-direction: row;
    margin-top: 48px;
}
.d-box{
    width: 264px;
    height: 128px;
    align-items: flex-start;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.d-box-two{
    background: rgb(198, 228, 214);
}
.d-box p{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: rgba(14, 14, 14, 0.8);
}
.custom-amount {
    margin-top: 20px;
}
.custom-amount input {
    width: 1032px;
    height: 64px;
    padding: 40px;
    font-size: 20px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.3);
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}
.butttone{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 24px 0px;
    padding: 20px 34px 20px 34px;   
    border-radius: 8px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 106, 80);
}

/* Subscribe Newsletter */
.newsletter-container {
    justify-content: center;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    text-align: center;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    padding: 80px 100px;
    margin-top: 80px;
  }
h2 {
    font-size: 40px;
    font-weight: 700;
    color: rgb(14, 14, 14);
    margin-bottom: 20px;
  } 
p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 24px;
}
.subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    margin-bottom: 10px;
}
.subscribe-form input[type="email"] {
    width: 40%;
    height: 55px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 400;
}
.subscribe-form button {
    background-color: #1a8e5f;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 18px;
    font-weight: 600;
    height: 55px;
}
  .disclaimer {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 25px;
}

/* Footer Section */
.footer {
    background-color: rgb(255, 255, 255);
    padding: 50px 0;
    text-align: center;
    margin-top: 80px;
    border: 1px solid rgba(14, 14, 14, 0.1);
}

.footer h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}
.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    margin-top: 30px;
    width: auto; 
    height: auto;
}
hr {
    width: 1122px;
    margin-bottom: 20px;
    margin-inline: auto;
    border: 1px solid rgba(14, 14, 14, 0.363);
}